.preview_list  {
    list-style: none;
    text-align: center;
}

.preview_list li {
    display: inline-block;
    margin: 10px;
}

.preview_list li img {
    height: 300px;
}

.preview_list li button {
    position: relative;
    top: -134px;
    left:-34px;
}

@media  screen and (max-width: 425px) {
    .preview_list li {
        display: block;
        margin: 10px 0px;
    }

    .preview_list li img {
        height: 200px;
        max-width: 205px;
    }

    .preview_list li button {
        position: relative;
        top: -85px;
        left:-34px;
    }
    
}