.page_container {
   min-height: 100vh; 
  background-color:var(--secondary-color-dark);
}

.submit_btn_container { 
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 30px auto;
}

