@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color-light:  #b7b7b7; 
    --primary-color-dark:  #3d0240;  
    --secondary-color-light:#7d889b; 
    --secondary-color-dark:   #547686; 
}

[data-theme = "dark"] {
    --primary-color-light: #858587;
    --primary-color-dark: #2a2438;
    --secondary-color-light:  #407389;
    --secondary-color-dark:  #34465c;
}


* {
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, 
                rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btn:disabled {
    background-color: #ccc;
    border: 1px solid var(--secondary-color-dark);
    cursor: not-allowed;
    box-shadow: none;
}

.btn.btn-primary{
    background-color:var( --primary-color-dark);
}

.btn.btn-primary:hover{
    background-color: var(--primary-color-light);
}

.btn.btn-primary:disabled {
    background-color: gray;
}

.color_mode_button {
    position: absolute;
    height: 10vw;
}

.invalid-feedback,
 .error_text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  red;

}

.btn.btn-secondary {
    background-color:var( --secondary-color-light);
}

.btn.btn-secondary:hover {
    background-color:var( --secondary-color-dark);
}

[data-theme = ""] .btn.btn-secondary {
    color: black;
}






  
  