@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color-light: #dbd8e3;
    --primary-color-dark: #5c5470; 
    --secondary-color-light: #352f44; 
    --secondary-color-dark: #2a2438;
}

[data-theme = "dark"] {
    --primary-color-light: #9ec5d0; 
    --primary-color-dark: #ff6f3c;  
    --secondary-color-light: #ff9a3c; 
    --secondary-color-dark: #ffc93c; 
}


* {
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: rgb(118, 113, 113);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, 
                rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btn:disabled {
    background-color: #ccc;
    border: 1px solid var(--secondary-color-dark);
    cursor: not-allowed;
    box-shadow: none;
}

.btn-primary{
    background-color:var( --primary-color-dark);
}

.btn-primary:hover{
    background-color: var(--primary-color-light);
}

.invalid-feedback {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


  
  